<!doctype html>
<html>
  <head>
    <title>Custom Site Options</title>
  </head>
  <body ng-app="myDraggzApp" ng-csp>
    <div ng-controller="ButtonCtrl">
    <h1>Custom Site Options</h1>
    <button id="draggable" class="btn btn-default btn-lg">drag</button>
    <button id="saveChanges" class="btn btn-default btn-lg" ng-click="addNewChange()">save changes and create model</button>
    <button id="makeButtons" class="btn btn-default btn-lg" ng-click="getButtons()">Get all models buttons</button>

    <div ng-repeat="button in buttons track by $index">
        <div class="group">
          <button class="btn btn-default btn-lg" ng-click="loadChangedDOM($index)">Get Model # {{$index}}</button>
          <button class="btn btn-circle" ng-click="deleteOne($index); getButtons()">X</button>
      </div>
    </div>
  </div>




    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="popup.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="bower_components/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="popup.js"></script>
  </body>
</html>